{% extends 'base.html' %}
{% set active_page = "configuration" %}
{% block content %}


<div class="container theme-showcase" role="main">

    <div class="page-header">
        <br>
        <h1>Configuration</h1>
    </div>

    <div class="jumbotron" id="main">
        <div style="padding-top: 0px; padding-bottom: 0px;" class="jumbotron" >
            <div style="width: 25%; float: left; text-align: center;"> <h2> Name </h2></div>
            <div style="width: 25%; float: left; text-align: center;"> <h2> Count </h2></div>
            <div style="width: 25%; float: left; text-align: center;"> <h2> Period </h2></div>
            <div style="width: 25%; float: right; text-align: center;"> <h2> Responses </h2></div>
        </div>


        <input type="image" src="{{ url_for('static', filename='images/plus.png') }}" id="newDP" class="custom-image">

    </div>
</div>


<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Create a new detection point</h2>
      <br>
      <br>
    <label for="name">Detection Point Name</label>
    <input type="text" id="name" name="name" placeholder="Detection Point Name">

    <label for="severity">Severity</label>
    <select id="severity">
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
    </select>
    <br><br>
    <label for="count">Event Count</label>
    <input type="text" id="count" name="count" placeholder="Event Count">
      <label for="period"> Time Period </label>
    <input type="text" id="period" name="period" placeholder="Time Period" >

    <label for="response"> Response/Responses</label>
    <input type="text" id="response" name="response" placeholder="Responses">
      <h4 style="color: #b9bbbf; font-size: 14px;">Place time limits in brackets () and seperate responses using commas. Eg. Logout, Lockout(60)</h4>

      <input id="add"type="submit" value="Add Detection Point">

  </div>

</div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/configuration.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/addDetectionPoint.js') }}"></script>


{% endblock %}
