{% extends 'base.html' %}
{% block content %}

<div class="container theme-showcase" role="main">

      <div class="page-header">
        <br>
        <h1>Activity</h1>
      </div>
      <p>
        <button type="button" class="btn btn-lg btn-default">All</button>
        <button type="button" class="btn btn-lg btn-default">Events</button>
        <button type="button" class="btn btn-lg btn-default">Attacks</button>
        <button type="button" class="btn btn-lg btn-default">Responses</button>
      </p>

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>BlackWatch</h1>
        <p>
          <table class="table table-condensed" id="eventsTable">
            <thead>
              <tr>
                <th>Detection Point</th>
                <th>Username</th>
                <th>IP Address</th>
                <th>Time</th>
              </tr>
              <tr>
                <th> - </th>
                <th> - </th>
                <th> - </th>
                <th> - </th>
              </tr>
              <tr>
                <th> - </th>
                <th> - </th>
                <th> - </th>
                <th> - </th>
              </tr>
              <tr>
                <th> - </th>
                <th> - </th>
                <th> - </th>
                <th> - </th>
              </tr>
              <tr>
                <th> - </th>
                <th> - </th>
                <th> - </th>
                <th> - </th>
              </tr>
              <tr>
                <th> - </th>
                <th> - </th>
                <th> - </th>
                <th> - </th>
              </tr>
              <tr>
                <th> - </th>
                <th> - </th>
                <th> - </th>
                <th> - </th>
              </tr>
              <tr>
                <th> - </th>
                <th> - </th>
                <th> - </th>
                <th> - </th>
              </tr>
              <tr>
                <th> - </th>
                <th> - </th>
                <th> - </th>
                <th> - </th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </p>
      </div>


    </div> <!-- /container -->
    <div class="counter">
    <span class="label label-events">Events</span>
    <span class="label label-attacks">Attacks</span>
    <span class="label label-responses">Responses</span>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts/eventListener.js') }}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 {% endblock %}
